<p id="notice"><%= notice %></p>

<ul class="list" >
   <li>
      <div id ="Lsit_Name">
        <strong>List name:</strong>
        <%= @todo_list.list_name %>
     </div>
  </li>
<li>
    <div id="Due_Date">
      <strong>List due date:</strong>
      <%= @todo_list.list_due_date %>
  </div>
</li>
<li>
    <div id ="time_zone">
         <p id ="time_zone_p"></p>  
    </div>
</li>
</ul>


<p>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list.todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.title %></td>
        <td><%= todo_item.due_date %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.completed %></td>
        <td><%= link_to 'Show', [@todo_list, todo_item],:class=>"badge" %></td>
        <td><%= link_to 'Destroy', [@todo_list, todo_item], method: :delete,:class=>"badge" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<%= link_to 'New Todo Item' ,new_todo_list_todo_item_path(@todo_list) ,:class=>"btn btn-primary"%> 
<%= link_to 'Back', todo_lists_path ,:class=>"btn btn-primary"%>
